@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Madimi One", sans-serif;
    line-height: 2;
    
}

.intro-image{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right,rgba(225, 96, 96, 0.261),rgba(233, 10, 10, 0.445)), url('../img/candle.png');
    background-position: center;
    background-size: cover;
    height: 105vh;
    overflow: hidden
}

.intro-image__text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    text-align: center;
    text-transform: uppercase;
    
}

.intro-image__text a {
    color: rgb(205, 153, 65);
    display: block;
    font-size: 3rem;
    text-shadow: 0 0 2px #0c0707; 
    letter-spacing:1,1rem;
}

.intro-image__text__btn{
    animation-name: button;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    display: inline-block;
    text-align: center;
    
   
}


.btn:hover{
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.16);
    background-color: rgba(106, 6, 6, 0.414);
    transform: translateY(-5px);
}

.intro-text{
    background-color: rgb(28, 28, 1);
    color: antiquewhite;
    text-align: center;
    padding-top: 2rem;
    clip-path: polygon(50% 20%, 100% 0, 100% 50%, 100% 100%, 0 94%, 0 0);
    margin-top: -3rem;
    margin-bottom: -1rem;
    padding-bottom: 2rem;
   
}

.heading-solid  {
    display: block;
    font-size: 1.3rem;
    letter-spacing:0.1rem;
    text-shadow: 0 0 2px #0c0707;
}

.text-solid{
    display: block;
    font-size: 0.8rem;
    text-decoration: none;
}

.packaging-image{
    background-attachment: fixed;
    background-image: url(../img/packaging.png) ;
    background-position: center;
    background-size: cover;
    height: 80vh;

}

.packaging-image__text{
    padding-top: 15rem;
    text-align: center;
    text-transform: uppercase;
}

.packaging-image__text a{
    background-color: #bc9674;
    border: 2px solid#7c879796 ;
    color:#04281e ;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.packaging-text{
    background-color: rgb(28, 28, 1);
    color: antiquewhite;
    text-align: center;
    font-size: 0.8rem;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
   
}

.heading-solid green{
    text-transform: uppercase;
}

.tutorials-image{
    background-attachment: fixed;
    background-image: url(../img/tutorial2.png);
    background-position: center;
    background-size: cover;
    height: 55vh;
    margin-top: -3rem;
}

.tutorials-image__text{
    text-align: center;
    padding-top: 12rem;
    
}

.tutorials-image__text a{
    background-color: #dbe6e5;
    border: 2px solid#7c879796 ;
    color:#04281e ;
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.footer{
    background-color:#4c072ca8 ;
    height:150px ;
    font-size: 1,2rem;
    padding: top 1,5rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.footer ul li{
    display: inline-block;
    margin: 1rem;
}

.wrapper a{
    color: azure;
    text-decoration: none;
}

.footer a:hover{
    box-shadow:0 0.5rem 1rem whitesmoke;
    color: rgb(77, 6, 26);
    display: inline-block;
    transform: scale(1.1)
}

.copyright{
    color: azure;
    font-size: 0.7rem;
   
}
